{% extends "base.html" %} 
{% load static %} 
{% load wagtailcore_tags %} 
{% block body_class %}template-aboutpage{% endblock %} 

{% block extra_css %}
<style>
  .row {
    padding: 10px;
  }
  .logo {
    border: solid 4px #333;
    padding: 15px;
  }
  .inner-content {
    margin-top:20px;
    margin-bottom:-40px;
  }
  .button {
    background-color: #4CAF50;
    border: solid black;
    padding: 27px;
    margin:20px 20px;
    color:black;
  }
</style>

{% endblock extra_css %}

{% block body %}

<div class="container">
  <div class="row justify-content-center title-block-text">
    <div class="col-md-12">
      <div class="logo">
        <img
          src="https://st.depositphotos.com/63963752/56453/v/600/depositphotos_564531034-stock-illustration-acj-letter-logo-design-on.jpg"
          width="30%"
        />
      </div>
    </div>
    <div class="inner-content">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h2>ASOCIACIÓN DE COMERCIO DE LA JACETANIA</h2>
                <p>Ayudamos a la visibilización de tu negocio y promovemos el comercio local</p>
            </div>
            <div class="col-md-4">
            <a href="./contacto">
            <div class="button">
                <h1>ASÓCIATE</h1>
            </div>
            </a>
        </div>

        </div>
    </div>
  </div>
</div>

{% endblock %}

