{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-comerciosindexpage{% endblock %}

{% block extra_css %}
<style>
.comercio {
    border: solid 2px #333; padding: 10px;
}
.comercio-image {
    background:#F9EBEA;
    border:solid;
}
</style>
{% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center title-block-text">
        <div class="col">
            <h1 class="page-title">{{ page.title }}</h1><br>
            {% for comercio in comercios %}
            <ul class="comercios">
                <li class="comercio row justify-content-center" style="list-style: none;">
                    <div class="col-12 col-md-9 comercio-content">
                        <div class="row">
                            <div class="comercio-details col-4 col-sm-4 col-md-4">
                                <h2 class="title">
                                    <a href="{{comercio.url}}">{{comercio.name}}</a>
                                </h2>
                                <p>{{comercio.description | richtext}}</p>
                            </div>
                            <div class="col-8 col-sm-8 col-md-8">
                                <a href="{{comercio.url}}">
                                    <div class="comercio-image">
                                    <img src="{{comercio.image}}"/>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}

